@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using BlazorWorker.BackgroundServiceFactory
@using BlazorWorker.Core
@using BlazorWorker.Core.CoreInstanceService
@using KicioroTimer.Logic
@inject IWorkerFactory workerFactory

<div class="row">
    <div class="col-6 col-md-6 text-end">Umiejanie:</div>
    <div class="col-6 col-md-6">@seconds</div>
</div>
<div class="row">
    <div class="col-6 col-md-6 text-end">Naumiejane:</div>
    <div class="col-6 col-md-6">@PrintHelper.PrintTime(subject.TimeUsed)</div>
</div>
<div class="row">
    <div class="col-6 col-md-6 text-end">Żeby się naumiejać :</div>
    <div class="col-6 col-md-6">@PrintHelper.PrintTime(subject.TimeForSubject.Subtract(subject.TimeUsed))</div>
</div>
<button class="btn btn-primary" @onclick="ToogleLearning">@toogleButtonText</button>


@code {
    [Parameter] public Subjects.Subject subject { get; set; }
    [Parameter] public Subjects.SubjectAction Edit { get; set; }
    private int seconds = 0;
    private bool learning = true;
    private string toogleButtonText = "Stop";
    
    private IWorker? worker;
    private int counter = 0;
    private bool isRunning = false;
    
    protected override void OnInitialized()
    {
        
        ProceedLearning();
        base.OnInitialized();
    }
    
    
    public async Task ProceedLearning(){

        while(learning){
            await Task.Delay(1000);
            seconds++;
            if(seconds > 60){
                seconds = 0;
                subject.TimeUsed += TimeSpan.FromMinutes(1);
                await Edit(subject);
                
            }
            StateHasChanged(); 
        }
        return;
    }

     private void ToogleLearning()
    {
        learning = learning ? false : true;
        toogleButtonText = learning ? "Stop" : "Start";
        ProceedLearning();
        StateHasChanged(); 
    }
}